<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>新北長照交通接送平台營運端</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/Chart.css" />

    <link rel="stylesheet" href="css/DKdriver.css" />
    <link rel="stylesheet" href="css/ui_index.css" />
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="stylesheet" href="css/resizelayout.css" />
    <link rel="stylesheet" href="css/mobileMenu.css" />
    <style>
      .li-onc {
        border-color: #fd8115;
        border-style: solid;
        border-width: 0 0 3px 0;
      }
      .page-d {
        padding: 10px 0;
      }
      .page-v-c {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 100%;
        border: 1px #000 solid;
        float: left;
        margin: 0 10px 0 0;
      }
      .page-v-c-on {
        color: #fd8115;
        border: 1px #fd8115 solid;
      }
      .isdel {
        background-color: #ccc;
      }
      .list-del {
        background-color: #ffcccc;
      }
      .ex-table {
        width: 300px;
        background-color: #fff;
        border-radius: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin: -150px 0 0 -150px;
        overflow: hidden;
        z-index: 999;
      }
      .ex-table-h {
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        background-color: #fc9236;
        color: #fff;
      }
      .ex-talbe-r-c {
        padding: 10px 20px;
      }
      .ex-talbe-r-c-in {
        width: 100%;
        border-radius: 10px;
        border: 1px #000 solid;
        font-size: 20px;
        padding: 5px;
        margin: 0 0 10px 0;
      }
      .ex-talbe-r-c-b {
        height: 50px;
        background-color: #fc9236;
        color: #fff;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        border-radius: 10px;
      }
      .ex-black {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 998;
      }
    </style>
  </head>

  <body>
    <div class="console_main" v-cloak>
      <!-- header -->
      <div class="ex-black" v-if="show_ex" @click="show_ex=!show_ex"></div>
      <div class="ex-table" v-if="show_ex">
        <div class="ex-table-h">匯出報表</div>
        <div class="ex-talbe-r-c">
          <el-date-picker
            v-model="show_ex_data.data1"
            type="date"
            placeholder="選擇日期區間(起)"
            value-format="yyyy-MM-dd"
          ></el-date-picker>
          <el-date-picker
            v-model="show_ex_data.data2"
            type="date"
            placeholder="選擇日期區間(訖)"
            value-format="yyyy-MM-dd"
          ></el-date-picker>
          <div v-if="ex_type==2">
            <select v-model="show_ex_data.comp_v" placeholder="公司">
              <option value="">請選擇公司</option>
              <option
                v-for="(item,index) in show_ex_data.comp"
                :value="item.Id"
              >
                {{item.CompanyName}}
              </option>
            </select>
            <select v-model="show_ex_data.sex_v" placeholder="性別">
              <option value="">請選擇性別</option>
              <option v-for="(item,index) in show_ex_data.sex" :value="item.Id">
                {{item.value}}
              </option>
            </select>
            <select v-model="show_ex_data.utype_v" placeholder="社會福利身分">
              <option value="">請選擇社會福利身分</option>
              <option
                v-for="(item,index) in show_ex_data.utype"
                :value="item.Id"
              >
                {{item.TypeName}}
              </option>
            </select>
            <select v-model="show_ex_data.dis_v" placeholder="失能等級">
              <option value="">請選擇失能等級</option>
              <option v-for="(item,index) in show_ex_data.dis" :value="item.Id">
                {{item.TypeName}}
              </option>
            </select>
          </div>
          <div
            class="ex-talbe-r-c-b"
            style="margin: 10px 0 0 0"
            @click="export_table"
          >
            確定匯出
          </div>
        </div>
      </div>

      <user-header :user="user"></user-header>
      <!-- 側拉選單 -->
      <div class="content">
        <div>
          <left-menu :mc="2" :cc="'2'+pmod" :menu="menu_id"></left-menu>
          <!-- main -->
          <main class="main main1" :class="{'active' : isMainleft}">
            <div class="main-d">
              <div class="modalOrder" v-if="isOpen&&list2">
                <div class="modalCenter">
                  <div
                    class="modalX"
                    @click="closeModal"
                    style="cursor: pointer"
                  >
                    <img src="img/icons8-delete_sign.png" alt="" />
                    <span>關閉</span>
                  </div>
                  <div class="modalBody">
                    <div class="top">
                      <div class="left">
                        <div class="number">
                          <div>訂單編號</div>
                          <div>{{list[c_id].SOrderNo}}</div>
                        </div>
                        <div class="context">
                          <p>
                            預約時間：{{ dateFormat(list[c_id].ReservationDate)
                            }}
                          </p>
                          <p>狀態：{{status_arr[list[c_id].Status]}}</p>
                          <p v-if="list[c_id].IsBack">行程：回程</p>
                          <p v-else>行程：去程</p>
                          <p>
                            訂單建立時間：{{ dateFormat(list[c_id].CreateTime)
                            }}
                          </p>
                        </div>
                      </div>
                      <div class="center">
                        <div class="personal_information1">
                          <p>
                            <img
                              src="img/icons8-plasmid_filledcopy.svg"
                              alt=""
                            />
                            <span class="otherColor" v-if="list[c_id].CanShared"
                              >可共乘</span
                            >
                            <span class="otherColor" v-else>不可共乘</span>
                          </p>
                          <p>
                            <img
                              src="img/icons8-plasmid_filledcopy.svg"
                              alt=""
                            />
                            <span>輪椅類型：</span>
                            <span>{{list[c_id].WheelchairId}}</span>
                            <img
                              src="img/icons8-plasmid_filledcopy.svg"
                              alt=""
                            />
                            <span>陪同人員：</span>
                            <span>{{list[c_id].FamilyWith}} 人</span>
                          </p>
                        </div>
                        <div class="personal_information2">
                          <div class="userData">
                            <div class="d_flex">
                              <div class="userPhoto">
                                <img :src="list[c_id].CaseUserPic" alt="" />
                              </div>
                              <div class="userInfo">
                                <h3>{{list[c_id].CaseUserName}}</h3>
                                <div>
                                  <p>個 案 編 號：{{list[c_id].CaseUserId}}</p>
                                  <p>身分證字號：{{list[c_id].CaseUserUID}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="userAddress">
                            <div class="d_flex">
                              <div class="arrowB">
                                <img
                                  src="img/icons8-long_arrow_down_filled.svg"
                                  alt=""
                                />
                              </div>
                              <div class="context">
                                <p>{{list[c_id].FromAddr}}</p>
                                <p></p>
                                <p>{{list[c_id].ToAddr}}</p>
                              </div>
                            </div>
                          </div>

                          <div></div>
                        </div>
                      </div>
                      <div class="right">
                        <div class="driver">
                          <p>
                            <img src="img/icons8-arrow.svg" alt="" />
                            <span>{{status_arr[list[c_id].Status]}}</span>
                          </p>
                        </div>
                        <div class="fee">
                          <p>
                            <span>自費</span>
                            <span>${{list[c_id].SelfPayAmt}}</span>
                          </p>
                          <p>
                            <span>公費</span>
                            <span>${{list[c_id].SubsidyAmt}}</span>
                          </p>
                          <a
                            :href="'./reservation_order5.html#/get/'+list[c_id].Id"
                            >訂單歷程</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="bottom">
                      <div class="left">
                        <select style="width: 100%" v-model="c_point">
                          <option value="">請選擇扣點點數</option>
                          <option value="0">0點</option>
                          <option value="1">1點</option>
                          <option value="2">2點</option>
                          <option value="3">3點</option>
                          <option value="4">4點</option>
                          <option value="5">5點</option>
                        </select>
                        <textarea
                          cols="50"
                          rows="5"
                          style="width: 100%"
                          placeholder="扣點理由"
                          v-model="c_re"
                          v-if="case_show"
                        >
                        </textarea>
                        <textarea
                          cols="50"
                          rows="5"
                          style="width: 100%"
                          placeholder="空趟理由"
                          v-model="c_re"
                          v-else
                        >
                        </textarea>
                      </div>
                      <div class="right">
                        <div>
                          <p>
                            目前累計違規點數 {{list2.TotalViolationCount}}點
                          </p>
                          <p>
                            一、
                            乘客預約時間十分鐘後，仍未抵達約定乘車地點，並視同放棄當次服務，駕駛員回報中心並離開去服務下位乘客，記違規1點。
                          </p>
                          <p>
                            二、
                            乘車日前(48小時)未申請更改或取消服務者，記違規1點。
                          </p>
                          <p>
                            三、
                            累積違規3點後，停止服務2週，懲處完畢後歸0，重新累積記點規範。
                          </p>
                          <div
                            class="orderdel"
                            @click="to_del(list[c_id])"
                            v-if="list[c_id].Status<2&&case_show"
                          >
                            確定取消此訂單
                          </div>
                          <div
                            class="orderdel"
                            @click="to_del(list[c_id])"
                            v-if="!case_show"
                          >
                            確定空趟
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <header>
                <h1>營運系統訂單資料</h1>
                <el-date-picker
                  v-model="c_data"
                  type="date"
                  placeholder="選擇日期"
                  value-format="yyyy-MM-dd"
                  @change="to_search"
                ></el-date-picker>
                <div class="search">
                  <input
                    type="text"
                    v-model="key"
                    @keyup.enter="to_search"
                    placeholder="請輸入關鍵字"
                  />
                  <img src="img/icons8-search.png" alt="" />
                </div>
                <div class="times" @click="isd=!isd;sort_list('CreateTime')">
                  <!-- <div>
                <el-date-picker class="birth" type="date" placeholder="" value-format="yyyy-MM-dd"
                  @change="new_day();$forceUpdate()"></el-date-picker>
              </div> -->
                  <span>排序: 建立時間</span>
                  <img src="img/icons8-generic_sorting_2.svg" alt="" />
                </div>
                <div
                  class="alpha_sorfting"
                  @click="isd=!isd;sort_list('CaseUserId')"
                >
                  <span>個案編號</span>
                  <img src="img/icons8-alphabetical_sorting.svg" alt="" />
                </div>
                <a class="addList" @click.prevent="show_ex=!show_ex;ex_type=2"
                  >服務紀錄</a
                >
                <a class="addList" @click.prevent="show_ex=!show_ex;ex_type=1"
                  >任務明細檔</a
                >
                <!-- <div>
                  <el-date-picker
                  class="birth"
                    v-model="get_list.Birthday"
                    type="date"
                    placeholder=""
                    value-format="yyyy-MM-dd"
                    @change="new_day();$forceUpdate()"
                  ></el-date-picker>
                </div> -->
              </header>
              <div class="reservationOrder">
                <div class="listReserve">
                  <ul>
                    <li :class="{'li-onc':urlq.status==-1}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=&key='+'&isDescending='+urlq.isDescending+'&date='+urlq.date"
                        >全部訂單</a
                      >
                    </li>
                    <li :class="{'li-onc':urlq.status==0}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=0&key='+'&isDescending='+urlq.isDescending+'&date='+urlq.date"
                        >新訂單</a
                      >
                    </li>
                    <li :class="{'li-onc':urlq.status==1}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=1&key='+'&isDescending='+urlq.isDescending"
                        >已排班</a
                      >
                    </li>
                    <li :class="{'li-onc':urlq.status==2}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=2&key='+'&isDescending='+urlq.isDescending"
                        >已出發</a
                      >
                    </li>
                    <li :class="{'li-onc':urlq.status==3}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=3&key='+'&isDescending='+urlq.isDescending"
                        >抵達搭車地點</a
                      >
                    </li>
                    <li :class="{'li-onc':urlq.status==4}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=4&key='+'&isDescending='+urlq.isDescending"
                        >客上</a
                      >
                    </li>
                    <li :class="{'li-onc':urlq.status==7}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=7&key='+'&isDescending='+urlq.isDescending"
                        >未執行</a
                      >
                    </li>
                    <li :class="{'li-onc':urlq.status==8}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=8&key='+'&isDescending='+urlq.isDescending"
                        >客戶取消</a
                      >
                    </li>
                    <li :class="{'li-onc':urlq.status==9}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=9&key='+'&isDescending='+urlq.isDescending"
                        >服務單位取消</a
                      >
                    </li>
                    <li :class="{'li-onc':urlq.status==10}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=10&key='+'&isDescending='+urlq.isDescending"
                        >空趟</a
                      >
                    </li>
                    <li :class="{'li-onc':urlq.status==6}">
                      <a
                        :href="'./reservation_order.html?page=1&pmod='+urlq.pmod+'&status=6&key='+'&isDescending='+urlq.isDescending"
                        >已完成</a
                      >
                    </li>
                  </ul>
                </div>
                <div>
                  <div class="list-null" v-if="list==null">查無資料</div>
                  <div
                    class="listReservePersonData"
                    v-for="(item,index) in list"
                  >
                    <div
                      class="listReservePersonData1"
                      :class="{'isdel':item.Status==8||item.Status==9}"
                    >
                      <div class="listReservePersonData11">
                        <span>訂單編號</span>
                        <span>{{item.SOrderNo}}</span>
                      </div>
                      <div class="listReservePersonData12">
                        <ul>
                          <li>
                            預約時間：{{ dateFormat(item.ReservationDate) }}
                          </li>
                          <li>狀態：{{status_arr[item.Status]}}</li>
                          <li v-if="item.IsBack">行程：回程</li>
                          <li v-else>行程：去程</li>
                          <li>建立時間：{{ dateFormat(item.CreateTime) }}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="listReservePersonData2">
                      <div class="listReservePersonData21">
                        <div class="shareable">
                          <template v-if="item.CanShared">
                            <img src="img/icons8-plasmid_filled.svg" alt="" />
                            <span class="can">可共乘</span>
                          </template>
                          <template v-else>
                            <img src="img/cantDoubleCircle.svg" alt="" />
                            <span class="cant">不可共乘</span>
                          </template>
                        </div>
                        <div class="typeChair">
                          <img
                            src="img/icons8-plasmid_filledcopy.svg"
                            alt=""
                            v-if="item.WheelchairId"
                          />
                          <span v-if="item.WheelchairId">輪椅類型：</span>
                          <span v-if="item.WheelchairId"
                            >{{item.WheelchairId}}</span
                          >
                          <img src="img/icons8-plasmid_filledcopy.svg" alt="" />
                          <span>陪同人員：</span>
                          <span>
                            {{item.FamilyWith}} 人
                            <!--/ 外籍 {{item.ForeignFamilyWith}} 人--></span
                          >
                        </div>
                      </div>
                      <div class="listReservePersonData22">
                        <div class="listReservePersonData221">
                          <div class="memberpicbox">
                            <img
                              :src="item.CaseUserPic"
                              v-if="item.CaseUserPic"
                              alt=""
                            />
                          </div>
                          <div class="noPhoto" v-else>
                            <img src="img/icons8-sheep2_filled.svg" alt="" />
                            <span>未上傳相片</span>
                          </div>
                          <div>
                            <h5>{{item.CaseUserName}}</h5>
                            <div>個案編號：{{item.CaseUserNo}}</div>
                            <div>身分證字號：{{item.CaseUserUID}}</div>
                            <div>接收簡訊號碼：{{item.NoticePhone}}</div>
                          </div>
                        </div>
                        <div class="listReservePersonData222">
                          <div>
                            <img
                              src="img/icons8-long_arrow_down_filled.svg"
                              alt=""
                            />
                            <div class="address">
                              <h3>
                                {{item.FromAddr}}<span
                                  v-if="item.FromAddrRemark"
                                  >({{item.FromAddrRemark}})</span
                                >
                              </h3>
                              <h3></h3>
                              <h5>
                                {{item.ToAddr}}<span v-if="item.ToAddrRemark"
                                  >({{item.ToAddrRemark}})</span
                                >
                              </h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="listReservePersonData3">
                      <div>
                        <img src="img/icons8-arrow.svg" alt="" />
                        <span
                          >{{status_arr[item.Status]}}<button
                            class="btntrn"
                            @click="t_order(item.Id)"
                            v-if="item.Status<2&&is_after(item)"
                          >
                            轉單
                          </button></span
                        >
                      </div>
                      <div>個案負擔 ${{item.SelfPayAmt+item.OtherAmt}}</div>
                      <div>(車資 + 陪同金額)</div>
                      <button
                        class="btnbox orderpaper"
                        @click="go_to('reservation_order2.html#/get/'+item.Id)"
                      >
                        查看訂單
                      </button>
                      <button
                        class="btnbox orderdel"
                        @click.stop="case_show=false;c_id=index;get_more(item.Id);openModal()"
                        v-if="item.Status==10"
                      >
                        空趟記點
                      </button>
                      <button
                        class="btnbox orderdel"
                        @click.stop="case_show=true;c_id=index;get_more(item.Id);openModal()"
                        v-if="item.Status<2"
                      >
                        取消訂單
                      </button>
                      <a
                        :href="'./reservation_order5.html#/get/'+item.Id"
                        v-else
                        ><button class="btnbox">訂單歷程</button></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- pagi -->
              <div class="pagination">
                <page-v
                  :pagen="page"
                  :countn="pageCount"
                  :urlex="'./reservation_order.html?pmod='+urlq.pmod+'&isDescending='+urlq.isDescending+'&status='+urlq.status+'&key='+this.urlq.key+'&page='"
                  v-if="page&&pageCount"
                ></page-v>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>

    <script src="js/jquery-1.8.0.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/Chart.bundle.js"></script>
    <script src="js/lodash.js"></script>

    <script src="js/element-ui.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/element-ui.js"></script>
    <script src="js/token.js"></script>
    <script src="js/header1.js?v=124"></script>
    <script src="js/leftmenu2.js?v=123"></script>
    <script src="js/pagev.js"></script>
    <script src="js/url_q.js"></script>
    <script src="js/xlsx.js"></script>
    <script src="js/polyfill.js"></script>
    <script>
      let console_main = new Vue({
        el: ".console_main",
        data: function () {
          return {
            status_arr: [
              "新訂單",
              "已排班",
              "已出發",
              "已抵達",
              "客上",
              "客下",
              "已完成",
              "未執行",
              "個案取消",
              "服務單位取消",
              "空趟",
              "無派車",
              "變更時間",
            ],
            nav_status: 1,
            name: "韓寒寒",
            img:
              "https://p2.bahamut.com.tw/S/2KU/37/a0a03ed3c88c8770dbe4ae87b4169pl5.JPG",
            isLeft: true,
            case_show: true,
            isMainleft: true,
            isOpen: false,
            list: [],
            c_id: 0,
            ex_type: 1,
            show_ex: false,
            show_ex_data: {
              data1: "",
              data2: "",
              comp: "",
              comp_v: "",
              sex: [
                { Id: 1, value: "男" },
                { Id: 2, value: "女" },
              ],
              sex_v: "",
              utype: "",
              utype_v: "",
              dis: "",
              dis_v: "",
            },
            urlq: url_q(window.location.href),
            user: "",
            page: false,
            pageCount: false,
            pmod: 1,
            search: {
              isDispatch: false,
              status: "",
            },
            c_point: "",
            c_re: "",
            isd: false,
            list2: "",
            c_data: "",
            key: "",
          };
        },

        mounted: async function () {
          await this.check_login();
          var urlq = url_q(window.location.href);
          this.page = Number(urlq.page);
          this.pmod = urlq.pmod;
          if (!urlq.page) {
            document.location.href =
              "http://210.63.206.166/web3/reservation_order.html?page=1&pmod=1";
          }
          if (this.urlq.status == -1) {
            this.urlq.status = "";
          }
          await axios
            .get(
              "https://api.donkeymove.com/api/OrderDetails/GeOrderDetailtView?page=" +
                this.urlq.page +
                "&status=" +
                this.urlq.status +
                "&pMode=" +
                this.urlq.pmod +
                "&key=" +
                this.urlq.key +
                "&orderby=3&isDescending=" +
                this.urlq.isDescending
            )
            .then((res) => {
              this.list = res.data.response.data;
              this.pageCount = res.data.response.pageCount;
              console.log(this.list);
              console.log(this.pageCount);
              if (this.urlq.status === "") {
                this.urlq.status = -1;
              }
              if (res.data.response.data.length == 0) {
                this.list = null;
              }
              this.$nextTick(function () {
                this.$forceUpdate();
              });
            });
          await this.get_all_list();
        },
        methods: {
          selectNav: function (number) {
            this.nav_status = number;
          },
          openNav2: function () {
            this.isLeft = false;
            this.isMainleft = false;
          },
          openNav: function () {
            this.isLeft = !this.isLeft;
            this.isMainleft = !this.isMainleft;
          },
          closeModal: function () {
            this.isOpen = false;
          },
          openModal: function () {
            this.isOpen = true;
          },
          go_to: function (x) {
            document.location.href = x;
          },
          new_day: function () {
            let pos = this.data_time.map(function (e) {
              return e.time;
            });
            let c_obj = JSON.parse(JSON.stringify(this.car));
            if (pos.indexOf(this.c_time) == -1) {
              this.data_time.push({ time: this.c_time, car: c_obj });
              this.c_index = this.data_time.length - 1;
              console.log(this.data_time);
            } else {
              this.c_index = pos.indexOf(this.c_time);
            }
          },
          get_more: async function (x) {
            await axios
              .get(
                "https://api.donkeymove.com/api/OrderDetails/GetOrderDetailMappingView/" +
                  x
              )
              .then((res) => {
                this.list2 = res.data.response;
              });
          },
          pageSelect: async function (c) {
            await axios
              .get("https://api.donkeymove.com/api/OrderDetails/Get?page=" + c)
              .then((res) => {
                this.page = res.data.response.page;
                this.pageCount = res.data.response.pageCount;
                this.personals = res.data.response.data;
              });
          },
          check_login: async function (x) {
            if (localStorage.dk2_user) {
              this.user = JSON.parse(localStorage.dk2_user);
              await get_left_menu(this.user.Id, async (re) => {
                this.menu_id = re;
                this.$forceUpdate();
              });
            } else {
              location.href = "login1.html";
            }
          },
          to_search: async function (x) {
            await axios
              .get(
                "https://api.donkeymove.com/api/OrderDetails/GeOrderDetailtViewNoPage?key=" +
                  this.key +
                  "&page=" +
                  this.urlq.page +
                  "&pMode=" +
                  this.urlq.pmod +
                  "&date=" +
                  this.c_data +
                  "&orderby=3&isDescending=" +
                  this.urlq.isDescending +
                  "&status=" +
                  this.urlq.status
              )
              .then((res) => {
                if (res.data.msg == "獲取成功") {
                  this.page = res.data.response.page;
                  this.pageCount = res.data.response.pageCount;
                  this.list = res.data.response;
                  console.log(this.list);
                  if (res.data.response.length == 0) {
                    this.list = null;
                  }
                } else {
                  alert(res.data.msg);
                }
              });
          },
          sort_list: function (x) {
            this.urlq.isDescending == "true"
              ? (this.urlq.isDescending = "false")
              : (this.urlq.isDescending = "true");
            location.href =
              "./reservation_order.html?pmod=" +
              this.urlq.pmod +
              "&isDescending=" +
              this.urlq.isDescending +
              "&status=" +
              this.urlq.status +
              "&key=" +
              this.urlq.key +
              "&page=" +
              this.urlq.page;
          },
          to_del: async function (x) {
            if (this.c_point == "" || this.c_re == "") {
              alert("扣點點數或扣點理由未選擇");
              return 0;
            }
            var r = this.case_show
              ? confirm("確定刪除?")
              : confirm("確定空趟?");
            if (r == true) {
              let obj = {
                CaseUserId: x.CaseUserId,
                OrderDetailId: x.Id,
                Point: this.c_point,
                GrandCount: 0,
                Remark: this.c_re,
              };
              await axios
                .post(
                  "https://api.donkeymove.com/api/OrderDetails/PostOrderViolation",
                  obj
                )
                .then(async (res) => {
                  if (res.data.msg == "添加成功") {
                    await axios
                      .put(
                        "https://api.donkeymove.com/api/OrderDetails/PutDetailStatus?OrderDetailId=" +
                          x.Id +
                          "&StatusInt=9"
                      )
                      .then((res2) => {
                        if (res2.data.msg == "更新成功") {
                          alert("取消成功");
                          window.location.reload();
                        } else {
                          alert(res2.data.msg);
                        }
                      });
                  } else {
                    alert(res.data.msg);
                  }
                });
            } else {
              return 0;
            }
          },
          t_order: async function (x) {
            var r = confirm("確定轉單?");
            if (r == true) {
            } else {
              return 0;
            }
            await axios
              .put(
                "https://api.donkeymove.com/api/OrderDetails/PutDetailTransfer?OrderDetailId=" +
                  x
              )
              .then(async (res) => {
                if (res.data.msg == "轉單成功") {
                  alert("轉單成功");
                  window.location.reload();
                } else {
                  alert(res.data.msg);
                }
              });
          },
          GetServiceRecord: async function () {
            await axios
              .get(
                "https://api.donkeymove.com/api/Despatch/GetServiceRecord?startDate=" +
                  this.show_ex_data.data1 +
                  "&endDate=" +
                  this.show_ex_data.data2 +
                  "&UserType=" +
                  this.show_ex_data.utype_v +
                  "&DisabilityId=" +
                  this.show_ex_data.dis_v +
                  "&Sex=" +
                  this.show_ex_data.sex_v +
                  "&companyId=" +
                  this.show_ex_data.comp_v
              )
              .then((res) => {
                if (res.data.msg == "無資料") {
                  alert("無資料");
                } else {
                  convertAndExport(res.data.response);
                }
              })
              .catch((e) => {
                alert("匯出失敗");
              });
          },
          get_all_list: async function () {
            await axios
              .get("https://api.donkeymove.com/api/CaseType/Get?parentID=3")
              .then((res) => {
                this.show_ex_data.dis = res.data.response.data;
              });
            await axios
              .get("https://api.donkeymove.com/api/CaseType/Get?parentID=1")
              .then((res) => {
                this.show_ex_data.utype = res.data.response.data;
              });
            await axios
              .get("https://api.donkeymove.com/api/CarCompanys/Get")
              .then((res) => {
                this.show_ex_data.comp = res.data.response;
              });
          },
          export_table: async function () {
            var url = "";
            if (this.ex_type === 1) {
              url =
                "https://api.donkeymove.com/api/Despatch/GetPickMission?startDate=" +
                this.show_ex_data.data1 +
                "&endDate=" +
                this.show_ex_data.data2;
            } else {
              url =
                "https://api.donkeymove.com/api/Despatch/GetServiceRecord?startDate=" +
                this.show_ex_data.data1 +
                "&endDate=" +
                this.show_ex_data.data2 +
                "&UserType=" +
                this.show_ex_data.utype_v +
                "&DisabilityId=" +
                this.show_ex_data.dis_v +
                "&Sex=" +
                this.show_ex_data.sex_v +
                "&companyId=" +
                this.show_ex_data.comp_v;
            }
            await axios
              .get(url)
              .then((res) => {
                if (res.data.msg == "無資料") {
                  alert("無資料");
                } else {
                  convertAndExport(res.data.response);
                }
              })
              .catch((e) => {
                alert("匯出失敗");
              });
          },
          is_after: function (x) {
            return moment(x.ReservationDate).isAfter(moment());
          },
          dateFormat: function (time) {
            return moment(time).format("YYYY-MM-DD HH:mm");
          },
        },
      });
    </script>
  </body>
</html>
